body {
  min-height: 2000px;
  padding-top: 70px;
  font-family: "Comic Sans MS";
}

.framework {
  border: 1px solid darkgrey;
}

.popular-tags {
  font-family: "Comic Sans MS";
  font-size: 120%;
}

.font-150-per-cent {
  font-size: 150%;
}

.img-128-center {
  display: block;
  margin: 5% auto;
  width: 128px;
}

.table-counter {
  width: 75%;
  margin: 0 auto;
}

.table-counter td {
  text-align: center;
  color: #17A2B8;
  font-size: 125%;
}

.table-counter td button {
  width: 70px;
  height: 35px;
}

.answer-table-counter {
    width: 75%;
    margin: 0 auto;
}

.answer-table-counter td {
    text-align: center;
}

.answer-table-counter td button {
    width: 90px;
    height: 30px;
}

.border-question {
  border: 5px solid #F8F9FA;
}