<!DOCTYPE html>
<html lang="ru">


<head>
	<meta charset="UTF-8">
	<title>Golden</title>
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div>
		<h1 style="color:red; font-size: 100px">Заголовок 1</h1>
		<h2>Заголовок 2</h2>
		<h3>Заголовок 3</h3>
		<h4>Заголовок 4</h4>
		<h5>Заголовок 5</h5>
		<h6>Заголовок 6</h6>

		<p>
			adsssssssss<span>sfdsf</span>ssssssssssssssss  <br>
			adsssss
		</p>

		<a href="http://google.com">google</a>

		<img src="https://yt3.ggpht.com/-MzmVjlRreC0/AAAAAAAAAAI/AAAAAAAAAAA/kl0XSs3puY8/s88-c-k-no-mo-rj-c0xffffff/photo.jpg" alt="описание картинки">

		<ul>
			<li>Текст пункта списка</li>
			<li>Текст пункта списка</li>
			<li>Текст пункта списка</li>
			<li>Текст пункта списка</li>
			<li>Текст пункта списка</li>
		</ul>
		
	</div>
</body>


</html>